on early-init
    # SELinux permissive (tek ve yeterli)
    exec u:r:set_permissive:s0 -- /system/bin/set_permissive.sh


on fs
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice

    mkdir /firmware
    mount vfat /dev/block/bootdevice/by-name/modem${ro.boot.slot_suffix} /firmware ro context=u:object_r:firmware_file:s0

    # Vendor firmware symlinkleri
    symlink /vendor/firmware_mnt /firmware_mnt
    symlink /vendor/bt_firmware /bt_firmware
    symlink /vendor/dsp /dsp
    write /proc/sys/kernel/firmware_config/force_sysfs_fallback 1


on post-fs
    # Qualcomm vendor modülleri (vendor mount SONRASI)
    insmod /vendor/lib/modules/q6_pdr_dlkm.ko
    insmod /vendor/lib/modules/q6_notifier_dlkm.ko
    insmod /vendor/lib/modules/apr_dlkm.ko
    insmod /vendor/lib/modules/adsp_loader_dlkm.ko
    insmod /vendor/lib/modules/msm_drm.ko

    # Touchscreen (EN SON)
    insmod /lib/modules/fts_tp.ko

    start boot-hal-1-1


on boot
    setprop sys.usb.config adb


service vendor.qti.vibrator /system/bin/vendor.qti.hardware.vibrator.service
    user root
    group root
    disabled
    seclabel u:r:recovery:s0


service keymasterd /system/bin/keymasterd
    user root
    group root
    disabled
    seclabel u:r:recovery:s0


service health-hal-2-1 /system/bin/android.hardware.health@2.1-service
    user root
    group root
    disabled
    seclabel u:r:recovery:s0
